bin/
obj/
[Dd]ebug/
[Rr]elease/
*.dll
*.pdb

*.db
*.db-shm
*.db-wal
*.db.lock

*.user
*.suo
*.userprefs
*.DotSettings.user
.vs/
.vscode/
.idea/

appsettings.*.local.json
*.local.json
.env

.DS_Store
Thumbs.db
